.loginPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightsalmon;
  .login_form {
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 5px;
    input {
      width: 90%;
      padding: 0.7rem;
      margin: 0.5rem;
      outline: none;
      border: none;
      border-radius: 5px;
      // background: transparent;
    }
    .submitBtn {
      width: 90%;
      background: green;
      color: white;
      font-size: 1.8rem;
      border: none;
      border-radius: 5px;
    }
  }
  .account_creation {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    &:hover{
      color: blue;
    }
  }
}
